<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://169.254.22.114/123.api</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://mmbiz.qlogo.cn/mmbiz_jpg/foPACGrddJ1Q6aJ0qHXTwAE589UNhRpKo1ahP47BzSRIDLGhWp1roGicequFyNKQ82IINicjkocgKL5KDCTCXSicg/300?wx_fmt=jpeg&amp;wxfrom=1</string>
               </dict>
      <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://mmbiz.qlogo.cn/mmbiz_jpg/foPACGrddJ1Q6aJ0qHXTwAE589UNhRpKo1ahP47BzSRIDLGhWp1roGicequFyNKQ82IINicjkocgKL5KDCTCXSicg/300?wx_fmt=jpeg&amp;wxfrom=1</string>
              </dict>
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.yunyin.yungoushangcheng</string>
               <key>bundle-version</key>
               <string>1.2.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string></string>
               <key>title</key>
               <string>TU/e测试版(随便起,用于踊跃alert确认时的提示)</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
